ul(class='mario-art')
    li(class='mario-art--mushroom')
    li(class='mario-art--mario')
    li(class='mario-art--star')
    li(class='mario-art--flower')
    li(class='mario-art--chance')
    li(class='mario-art--boo')
